{* COPYRIGHTS-TOP *}
	{include file="modules/01Header/top-oz-site-copyrightside.tpl"}
{* COPYRIGHTS-TOP *}

<!DOCTYPE html PUBLIC>
<html>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<head>
		{* TOP-OZ-SITE-META-TAGES *}
			{include file="modules/01Header/top-oz-site-meta-tages.tpl"}
		{* TOP-OZ-SITE-META-TAGES *}

		{* TOP-OZ-SITE-FAVICONS *}
			{include file="modules/01Header/top-oz-site-favicons.tpl"}
		{* TOP-OZ-SITE-FAVICONS *}


		<title> ИШГA МAРҲAМAТ — «MONOMARKAZ» </title>


		{* TOP-OZ-SITE-STYLESHEETS *}
			{include file="modules/01Header/top-oz-site-stylesheets.tpl"}
		{* TOP-OZ-SITE-STYLESHEETS *}

<!-- 
		{* HIDE-INFORMATIONS *}
			{include file="modules/01Header/top-ru-site-hide-informations.tpl"}
		{* HIDE-INFORMATIONS *}
 -->
	</head>
	<body>
		<div class="pageWrapper">

			<header class="top-head transparent transparent-3" data-sticky="true">
<!-- MONOMARKAZ - MAIN & Mobile MENU -->
				<div>
					<header class="main-header header-style-one">
						<div class="header-upper">
							<div class="inner-container clearfix">
							{* SITE-LOGOTYPE *}
								{include file="modules/01Header/top-oz-site-logotype.tpl"}
							{* SITE-LOGOTYPE *}
								<div class="nav-outer clearfix">
								{* TOP-OZ-SITE-MENU *}
									{include file="modules/01Header/top-oz-site-menu.tpl"}
								{* TOP-OZ-SITE-MENU *}
								</div>

<!-- MENU - MAXSUS EFFEKTLAR-->
								<div class="other-links clearfix">

									<!--
									{* TOP-OZ-SITE-SEARCH *}
										{include file="modules/01Headertop-oz-site-search.tpl"}
									{* TOP-OZ-SITE-SEARCH *}
									-->

									{* TOP-OZ-SITE-SPECIAL-EFFECTS *}
										{include file="modules/01Header/top-oz-site-special-effects.tpl"}
									{* TOP-OZ-SITE-SPECIAL-EFFECTS *}


									{* TOP-OZ-SITE-Online-Application *}
										{include file="modules/01Header/top-oz-site-online-application.tpl"}
									{* TOP-OZ-SITE-Online-Application *}


									{* TOP-OZ-SITE-LANGUAGES-INFORMATIONS *}
										{include file="modules/01Header/top-oz-site-languages-informations.tpl"}
									{* TOP-OZ-SITE-LANGUAGES-INFORMATIONS *}

								</div>
<!-- MENU - MAXSUS EFFEKTLAR-->
							</div>
						</div>

					</header>



<!-- MENU-MOBILE- -->
					{* TOP-OZ-SITE-SEARCH *}
						{include file="modules/01Header/top-oz-site-menu-socials.tpl"}
					{* TOP-OZ-SITE-SEARCH *}
<!-- MENU-MOBILE- -->
				</div>
<!-- MONOMARKAZ - MAIN & Mobile MENU -->

<!-- MONOMARKAZ - SAYT OGOHLANTIRUVCHI -->
					{* TOP-OZ-SITE-WARNING *}
						{include file="modules/01Header/top-oz-site-site-warning.tpl"}
					{* TOP-OZ-SITE-WARNING *}
<!-- MONOMARKAZ - SAYT OGOHLANTIRUVCHI -->
			</header>



			<div class="special-wrapper">
<!-- MONOMARKAZ - MAIN-SLIDER -->
				{* TOP-OZ-SITE-SLIDER *}
					{include file="modules/02Body/top-oz-site-slider.tpl"}
				{* TOP-OZ-SITE-SLIDER *}
<!-- MONOMARKAZ - MAIN-SLIDER -->



<!-- MONOMARKAZ - BATAFSIL MA'LUMOTLAR -->
				{* TOP-OZ-SITE-DETAILS *}
					{include file="modules/02Body/top-oz-site-details.tpl"}
				{* TOP-OZ-SITE-DETAILS *}
<!-- MONOMARKAZ - BATAFSIL MA'LUMOTLAR -->



<!-- MONOMARKAZ - STATISTIKA
				{* TOP-RU-SITE-STATISTICA *}
					{include file="modules/02Body/top-ru-site-statistica.tpl"}
				{* TOP-RU-SITE-STATISTICA *}
 MONOMARKAZ - STATISTIKA -->



<!-- MONOMARKAZ - HUDUDDIY BO'LIMLAR -->
				{* TOP-OZ-SITE-TERRITORIAL DEPARTMENTS *}
					{include file="modules/02Body/top-oz-site-territorial-departments.tpl"}
				{* TOP-OZ-SITE-TERRITORIAL DEPARTMENTS *}
<!-- MONOMARKAZ - HUDUDDIY BO'LIMLAR -->




<!-- MONOMARKAZ - EXPERT JAMOAMIZ -->
				{* TOP-OZ-SITE-EXPERT TEAM *}
					{include file="modules/02Body/top-oz-site-carousel-expert-team.tpl"}
				{* TOP-OZ-SITE-EXPERT TEAM *}
<!-- MONOMARKAZ - EXPERT JAMOAMIZ -->




<!-- MONOMARKAZ - ONLAYN ARIZA YUBORISH OYNASI -->
				{* TOP-RU-SITE-Online-Application-2 *}
					{include file="modules/02Body/top-ru-site-online-application-2.tpl"}
				{* TOP-RU-SITE-Online-Application-2 *}
<!-- MONOMARKAZ - ONLAYN ARIZA YUBORISH OYNASI -->
		</div>



<!-- MONOMARKAZ - FOOTER QISMI -->
		{* TOP-OZ-SITE-FOOTER *}
			{include file="modules/03Footer/top-oz-site-footer.tpl"}
		{* TOP-OZ-SITE-FOOTER *}
<!-- MONOMARKAZ - FOOTER QISMI -->
	</div>



<!-- MONOMARKAZ - SAVOLLAR va TAKLIFLAR -->
		{* TOP-OZ-SITE-FOOTER *}
			{include file="modules/03Footer/top-oz-site-questions.tpl"}
		{* TOP-OZ-SITE-FOOTER *}
		<a href="#" data-target="html" class="scroll-to-target scroll-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
<!-- MONOMARKAZ - SAVOLLAR va TAKLIFLAR -->



<!-- MONOMARKAZ - SKRIPTLAR -->
		{* TOP-RU-SITE-SCRIPTS *}
			{include file="modules/03Footer/top-ru-site-scripts.tpl"}
		{* TOP-RU-SITE-SCRIPTS *}
<!-- MONOMARKAZ - SKRIPTLAR -->

	</body>
</html>